::-webkit-scrollbar {
  width: 4px; /* عرض أصغر لشريط التمرير */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* لون الخلفية لمسار التمرير */
  border-radius: 8px; /* مطابقة الزوايا */
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #999, #555);
  border-radius: 8px; /* زوايا مستديرة */
  border: 1px solid #ccc; /* إضافة حدود رفيعة */
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #555, #333); /* لون مختلف عند التمرير */
}
/* منع تأثير شريط التمرير على المساحة المحيطة */
::-webkit-scrollbar-corner {
  background: transparent;
}
