.button {
  border-radius: 25px;
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #797474;
  cursor: pointer;
  min-width: 40px;
}
.button:hover,
.active-tab {
  background-color: #008080;
  color: #ffffff;
}
.arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333333;
  cursor: pointer;
}
.arrow-btn:hover {
  background-color: #aca9a9dc;
}
