@tailwind base;
@tailwind components;
@tailwind utilities;
@import "nprogress/nprogress.css";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}
#nprogress .bar {
  z-index: 9999 !important;
  top: 0;
  left: 0;
  width: 100%;
}

body,
input,
button {
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

/*--------------buttons-------------*/
.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.enimat_title {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: black;
}

/* تغطية النص من المنتصف */
.enimat_title::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0%;
  background-color: white; /* نفس خلفية الصفحة */
  z-index: 1;
  animation: hideReveal 6s infinite alternate;
  transform: translateX(-50%);
}

@keyframes hideReveal {
  0% {
    width: 100%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.secondarytitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.bg_image {
  background-image: url("/images/contact.png");
  background-size: cover;
  background-position: center;
}
.button_outline {
  background-color: #008080;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.button_outline:hover {
  background: transparent;
  border: 1px solid #008080;
  color: #008080;
  border-radius: 3px;
}

.button_bordered {
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
  border-radius: 3px;
  cursor: pointer;
}
.button_bordered:hover {
  background-color: #008080;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 3px;
}
.disabled {
  cursor: not-allowed;
  background: #dfdbdb;
  color: #ffffff;
  border: none;
}
.disabled:hover {
  cursor: not-allowed;
  background: #dfdbdb;
  color: #ffffff;
  border: none;
}
.button_close {
  background: #e53232;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.button_close:hover {
  background: transparent;
  border: 1px solid #df1515;
  color: #df1515;
  border-radius: 3px;
}
